@import "../../styles/variables.scss";

.place-infos {
    color: $main-color;
    .place-infos-top {
        display: flex;
        justify-content: space-between;
        @media (max-width: 375px)
        {
            flex-direction: column;
            justify-content: flex-start;
        }
        .place-infos-left {
            display: flex;
            flex-direction: column;
            h1 {
                font-size: 36px;
                @media (max-width: 375px)
                {
                    font-size: 18px;
                }
            }
            h2 {
                font-size: 18px;
                margin: 0;
                @media (max-width: 375px)
                {
                    font-size: 14px;
                }
            }
        }
        .place-infos-right {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            @media (max-width: 375px)
            {
                flex-direction: row-reverse;
                justify-content: space-between;
                align-items: center;
            }
            .host {
                display: flex;
                align-items: center;
                figcaption {
                    font-size: 18px;
                    padding: 15px;
                    @media (max-width: 375px)
                    {
                        font-size: 14px;   
                    }
                }
                img {
                    border-radius: 50%;
                    width: 100px;
                    @media (max-width: 375px)
                    {
                        width: 50px;
                    }
                }
                @media (max-width: 375px)
                {
                    margin-right: 0px;
                }
            }
            
        }
    }
    .place-infos-collapse {
        display: flex;
        justify-content: space-between;
        gap: 30px;
        margin-bottom: 50px;
        @media (max-width: 375px)
        {
            flex-direction: column;
            gap: 30px;   
        }
       
    }
}