@import "../../styles/variables.scss";

.ratingbox {
    list-style-type: none;
    ul {
        display: flex;
        list-style-type: none;
        margin: 10px;
        @media (max-width: 375px)
        {
            margin: 0px;
        }
        li {
            padding: 15px;
            img {
                height: 30px;
            }
            @media (max-width: 375px)
            {
                padding: 5px;
                img {
                    height: 15px;
                }
            }
        }
    }
}