@import "../../styles/variables.scss";

.cardbox {
    margin: 15px 0px;
    border-radius: 25px; 
    background-color: F6F6F6;
    padding: 30px;
    @media (max-width: 375px)
    {
        padding: 5px;
    }
    div {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px;
        width: 100%;
        a {
            height: 400px;
            width: 30%;
            .card {
                border-radius: 10px;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                background-size: cover;
                h1 {
                    width: 50%;
                    color: white;
                    text-align:start;
                    padding: 10px;
                    font-size: 18px;
                }
            }
        }
        @media (max-width: 375px)
        {
            a {
                height: 300px;
                width: 100%;
            }
        }
    }
}