@import "../../styles/variables.scss";

.collapse {
    width: 100%;
    display: flex;
    flex-direction: column;
    @media (max-width: 375px)
    {
            margin: 10px;
    }
    &--marge {
        margin: 15px;
    }
    .collapse-title {
        background-color: $main-color;
        color: white;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0px 10px;
        border: none;
        border-radius: 5px;
        min-width: 150px;
        h1{
            font-size: 24px;
        }
        button {
            border: none;
            background-color: $main-color;
            padding: 10px;
            cursor: pointer;
        }
        .arrowup {
            transition: transform 0.3s ease;
            transform: rotate(-180deg);
        }
        .arrowdown {
            transition: transform 0.3s ease;
        }
        @media (max-width: 375px)
        {
            h1 {
                font-size: 12px;
            }
        }
    }
    .display {
        max-height: 225px;
        background-color: $background-color;
        border-radius: 0px 0px 10px 10px;
        transition: height ease 0.3s;
        @media (max-width: 800px)
        {
            max-height: 600px;
        }
    }
    .hidden {
        max-height: 0px;
        overflow: hidden;
        transition: height ease 0.3s;
    }
    .content-display {
        color: $main-color;
        font-size: 22px;
        padding: 10px;
        opacity: 1;
        transform: translateY(0px);
        transition: all 0.3s;
        @media (max-width: 375px)
        {
            font-size: 12px;
        }
    }
    .content-hidden {
        opacity: 0;
        transform: translateY(-100px);
    }
}