@import "../../styles/variables.scss";

header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 20px 50px;
    padding: 10px;
    @media (max-width: 375px)
    {
        margin: 0px 10px;
        flex-wrap: nowrap;
    }
    img {
        max-width: 210px;
        @media (max-width: 375px)
        {
            max-width: 145px;
        }
    }
    div {
        display: flex;
        justify-content: center;
        align-items: center;
        a {
            color: $main-color;
            font-size: 24px;
            text-decoration: none;
            padding: 30px;
            &:hover {
                text-decoration-line: underline; 
            } 
            @media (max-width: 375px)
            {
                font-size: 15px;
                padding: 15px;
            }
        }
    }
}