@import "../../styles/variables.scss";

.banner {
    height: 230px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: lightgrey;
    background-blend-mode: multiply;
    margin: 30px 0px;
    border-radius: 25px;
    span{
        display: block;
        h1 {
            color: white;
            text-align: center;
            font-size: 48px;
            padding: 80px;
        }
    }
    @media (max-width: 375px)
    {
        height: 110px;
        border-radius: 10px;
        margin: 10px 0px;
        span{
            h1{
                padding: 20px;
                font-size: 24px;
                text-align: left;
            }
        }
    }
}